.jumbotron {
  background-image: url('https://www.spirithospitality.net/images/galleries/locations/greeley/header-greeley2.jpg');
  background-size: cover;
}
/** Gradient for the background of the body**/
.background {
  background-color: skyblue;
  background-image: background-image: -webkit-gradient(linear, left top, left bottom, from(lightsteelblue), to(skyblue));
  background-image: -webkit-linear-gradient(top, lightsteelblue, skyblue);
  background-image: -moz-linear-gradient(top, lightsteelblue, skyblue);
  background-image: linear-gradient(to bottom, lightsteelblue, skyblue);
}
/** Gradient for cards **/
.background-2 {
  background-color: gray;
  background-image: background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(white));
  background-image: -webkit-linear-gradient(top, gray, white);
  background-image: -moz-linear-gradient(top, gray, white);
  background-image: linear-gradient(to bottom, gray, white);
  border: none;
}
/** footer **/
.footer {
 font-size: 25px;
}
/** Link to image lightbox page**/
.center {
  text-align: center;
}

.link {
  color: gray;
  margin-left: 40%;
  font-size: 25px;
}
